/*Ini CSS*/

body {
    background-color: whitesmoke;
}

.main-header {
    text-align: center;

}

.selection-content {
    display: flex;
    flex-direction: column;
}

.selection-button {
    height: 32px;
    border: none;
    border-radius: 8px;
}

.darkkhaki-color {
    background-color: darkkhaki;
}


.luas-segitiga-header {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
    background: pink;
    text-align: center;
}

.keliling-segitiga-header {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
    background: rgb(144, 190, 241);
    text-align: center;
}

.luas-segitiga-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}

.keliling-segitiga-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}

.luas-segitiga-img {
    background-image: url(https://asset.kompas.com/crops/ZwOr6ZrEtAtid5uZmYhDFijYPa4=/175x161:1573x1094/750x500/data/photo/2022/03/09/62288763c6d64.png);
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    align-self: center;
}

.keliling-segitiga-img {
    background-image: url(https://asset.kompas.com/crops/ZwOr6ZrEtAtid5uZmYhDFijYPa4=/175x161:1573x1094/750x500/data/photo/2022/03/09/62288763c6d64.png);
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    align-self: center;
}

.input-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-wrapper>input {
    width: 50%;
}

input[type=number], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.main-content {
    display: flex;
}

.main-content>aside {
    flex: 1;
}
#resetButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    
}



@media only screen and (max-width: 600px) {
    body {
        background: rgb(203, 247, 247);
    }

}

@media only screen and (max-width: 250px) {
    body {
        background: rgb(248, 230, 170);
    }

}